<div class="jumbotron">
  <h1 class="display-4">Hola!</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Bienvenido a Allensmilko bikes!.</p>
  <button class="btn btn-primary" *ngIf="car.length > 0" (click)="makeTransaction()">Realizar compra</button>
  <h2>Costo total de compra: <b>$ {{carAmount}}</b></h2>

</div>


<div class="container text-center">
  <div class="row" *ngIf="productsList && productsList.products">
    <div *ngFor="let item of productsList.products;" class="card" style="width: 18rem;">
      <img [src]="item.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary" (click)="addToCar(item); item.incar = true">Agregar al carrito</button>
        <button class="btn btn-danger" *ngIf="item.incar" (click)="removeFromCar(item) ; item.incar = false">Quitar del carritoo</button>
      </div>
    </div>
  </div>
</div>